<h1>Contact Us</h1>

<div class="row">
	<div class="col-md-6">
	<address>
		<strong>Mike's Home Cooked Meals</strong> <br />
		3628 Shaffer Rd., <br />
		Rock Creek, Ohio, 44084 <br />
		(440) 563-5998
	</address>
	</div>
	<div class="col-md-6">
	</div>
</div>
